<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>

<style> 
  * {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    display: flex;
  }

  .izquierda {
    width: 65vw;
    height: 100vh;
    /* background-color: red; */
  }

  .derecha {
    width: 35vw;
    height: 100vh;
    /* background-color: blue; */
  }

  /* FORM STYLE */
  .login-form-bd {
    /* background: #ffffff ; */
    background: #181924;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: grid;
  }

  .form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    width: 25vw;
    height: 60vh;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background: #181924;
    padding: 80px 40px;
    border-radius: 25px;
    /* box-shadow: 1px 1px 1px 1px #1cdaae; */
    box-shadow: 3px 4px 20px rgb(28, 218, 174, 0.3);
  }

  .form-container h1 {
    text-align: center;
    margin-bottom: 44px;
    margin-top: -30px;
    color: #ffff;
    font-weight: normal;
    font-size: 32px;
  }

  .form-container a {
    text-decoration: none;
    color: #1cdaae;
  }

  .login-btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: #1cdaae;
    padding: 10px;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #0d0f42;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .login-btn:focus {
    outline: 0;
  }

  .login-btn:active {
    transform: scale(0.98);
  }

  .text {
    margin-top: 15px;
  }

  .form-control {
    position: relative;
  }

  .form-control input {
    background: transparent;
    color: #1cdaae;
    border: 0;
    border-bottom: 1px #fff solid;
    display: block;
    width: 100%;
    font-size: 18px;
  }

  .form-control input:focus {
    outline: 0;
    border-bottom-color: #1cdaae;
  }

  .form-control label {
    position: absolute;
    top: 15px;
    left: 10;
  }

  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.53, 0.246, 0.265, 1.66);
  }

  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: #c2c25a;
    transform: translateY(-30px);
  }

  .cualquiera {
    /* background-color: red; */
    height: 70vh;
  }

  .multiple-items {
    background-color: #1b1a1a;
    height: 30vh;
    /* display: flex; */
  }

  .slick-track{
    margin-top: 1vh;
    height: 28vh;
  }

  .item-slick {
    /* height: 20vh; */
    margin-bottom: 1vh;
    margin: 0 10px 0 10px;
    /* background-color: blue; */
  }

  .item-slick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  .item-slick img:hover {
    cursor: pointer;
    background: #1cdaae;
    box-shadow: 0 0 10px 2px #1cdaae;
  }

  .image_cover_login {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo_only_small_screen {
    margin-inline: auto;
    /* margin-top: 10vh;
    margin-bottom: -10vh; */
    width: 200px;
    margin-inline: auto;
    margin-block-start: auto;
    /* margin-left: 20%%; */
  }

  @media screen and (max-width: 600px) {
    .izquierda {
      display: none;
    }
    .derecha {
      width: 100vw;
    }
    .form-container {
      width: 90%;
    }
    .logo_only_small_screen {
      display: block;
      width: 200px;
      object-fit: cover;
    }
  }
</style>

<div class="izquierda">
  <div class="cualquiera">
    <%= image_tag('login_academico_cover.jpg', :class => "image_cover_login") %>
  </div>

  <div class="multiple-items">
  </div>
</div>

<div class="derecha">    
  <div class="login-form-bd">
    <%= image_tag('logo-horizontal.png', :class => "logo_only_small_screen") %>
    <div class="form-wrapper">
      <div class="form-container">
        <h1> INICIO DE SESIÓN</h1>
        <% if resource_name.to_s == "professor" %>
          <span style="color: #1cdaae">Panel de Profesores</span>
        <% elsif resource_name.to_s == "student" %>
          <span style="color: #1cdaae">Panel de Alumnos</span>
        <% elsif resource_name.to_s == "admin" %>
          <span style="color: #1cdaae">Panel Administrativo</span>
        <% end %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-control">            
            <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "DNI o email o codigo" %>
          </div>

          <br/>
          <div class="form-control">
            <%= f.password_field :password, class: "form-control", placeholder: "Contraseña", autocomplete: "current-password" %>
          </div>

          <br/>
          <div class="actions">
            <%= f.submit "Ingresar", :class => "login-btn" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %> 
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script  >
  $(document).ready(function(){
    $.ajax({
    url: "https://crm.magna.edu.pe/upcoming_courses",
    type: "GET",
    success: function(data) {
      var courses = "";
      for (var i = 0; i < data.courses.length; i++) {
        courses += "<div class='item-slick'>" +
                    // "<h3 class='courseTitle'>" + data.courses[i].name + "</h3>" +
                    "<img class='courseImage' width='100%' src='https://crm.magna.edu.pe" + data.courses[i].cover.url + "' alt='" + data.courses[i].name + "'>" +
                    "</div>";
      }
      $(".multiple-items").html(courses);
      $(".multiple-items").slick({
        arrows: false,
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        centerMode: true,
        centerPadding: "150px",
        autoplay: true,
        autoplaySpeed: 2000,  
        adaptiveHeight: true,
        speed: 1000,
      });
    }
  });
})
</script>